{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col-5">
        <div class="display-5 text-center mb-4">Change password</div>
            <form method="post" action="{% url 'account_change_password' %}" novalidate>
                {% csrf_token %}

                <div class="mb-3">
                    <label for="{{ form.oldpassword.id_for_label }}" class="form-label ms-2">{{ form.oldpassword.label }}</label>
                    {% render_field form.oldpassword class="form-control" %}
                    <div class="text-danger ms-2 small">{% for error in form.oldpassword.errors %} {{ error }} {% endfor %}</div>
                </div>

                <div class="row mb-4">
                    <div class="col">
                        <label for="{{ form.password1.id_for_label }}" class="form-label ms-2">{{ form.password1.label }}</label>
                        {% render_field form.password1 class="form-control" %}
                        <div class="text-danger ms-2 small">{% for error in form.password1.errors %} {{ error }} {% endfor %}</div>
                    </div>
                    <div class="col">
                    <label for="{{ form.password2.id_for_label }}" class="form-label ms-2">&nbsp;</label>
                        {% render_field form.password2 class="form-control" %}
                        <div class="text-danger ms-2 small">{% for error in form.password2.errors %} {{ error }} {% endfor %}</div>
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary col-5">Change password</button>
                </div>
            </form>
            <hr />
            <div class="text-center mb-3"> 
                <a href={% url 'account_reset_password' %} class="link-primary text-decoration-none">
                <strong>Forgotten password?</strong>
                </a>
            </div>
        </div>
    <div class="col"></div>
</div>
{% endblock content %}