{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      <div class="display-5 text-center mb-4">Password reset</div>
      <div>We have sent an e-mail to you. Follow the link provided to reset your password. 
        <br />If you do not see the e-mail in your main inbox, check your spam folder. 
        <br />Please contact us if you do not receive the e-mail within a few minutes.</div>
    </div>
    <div class="col"></div>
  </div>
{% endblock content %}