{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col"></div>
    <div class="col-8">
      <div class="display-5 text-center mb-4">Verify your e-mail address</div>
      <div>We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. 
        <br />If you do not see the verification e-mail in your main inbox, check your spam folder. 
        <br />Please contact us if you do not receive the verification e-mail within a few minutes.</div>
    </div>
    <div class="col"></div>
  </div>
{% endblock content %}