<form class="form-inline" action="post">
    <select name="Axis" id="axis">
        <option value="volvo">Choose Axis</option>
      </select>
    <input type="text" id="formula-x-axis" placeholder="formula" name="x-axis">
    <select name="Axis" id="y">
        <option value="Axis">Choose Axis</option>
      </select>
    <input type="text" id="formula-y-axis" placeholder="formula" name="y-axis">
    <select name="Axis" id="y">
        <option value="axis">Choose Axis</option>
      </select>
    <input type="text" id="formula-z-axis" placeholder="formula" name="z-axis">
    <label>
    <button type="submit">Change Graph</button>
  </form>
